$theme-main-white: #ccc;
$theme-main-red: #720000;

$theme-main: $theme-main-white;

.drag-panel {
  box-sizing: border-box; // required for the enableGhostResize option to work
  // display: block;
  width: 200px;
  height: 200px;
  border: solid 1px $theme-main;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .drag-panel-header {
    display: flex;
    width: 100%;

    border-bottom: 1px solid $theme-main;
  }

  .drag-panel-body {
    flex-grow: 1;
    background-color: rgba($theme-main, 0.25);
  }

  .drag-panel:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .panel-drag-handle {
    width: 100%;
    cursor: move;
    display: flex;
    justify-content: center;
  }

  .panel-resize-handle {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
  }
}

.drag-panel-white {
  $theme-main: $theme-main-white !global;
  @extend .drag-panel;
}

.drag-panel-red {
  $theme-main: $theme-main-red !global;
  @extend .drag-panel;
}
