/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
  background-color: #34007d;
}
